<div align="center">
  <mat-card style="max-width: 500px">
    <mat-card-header align="center" style="width: 100%">
      <mat-card-title>Register</mat-card-title>
      <mat-card-subtitle>{{applicationName}}</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> only if image needed-->
    <mat-card-content>

      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip selected class="mat-primary pointer" (click)="goToLogin()">
          <i class="fas fa-arrow-left" style="margin-right: 13px" ></i> Go back to the login screen ?
        </mat-chip>
      </mat-chip-list>

      <form class="example-form">
        <mat-form-field style="width: 95%;">
          <input #username matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field style="width: 95%;">
          <input #password matInput placeholder="Password" type="password">
        </mat-form-field>
        <mat-form-field style="width: 95%;">
          <input #validPassword matInput placeholder="Valid password" type="password">
        </mat-form-field>
        <mat-form-field style="width: 95%;">
          <input #firstName matInput placeholder="First name" >
        </mat-form-field>
        <mat-form-field style="width: 95%;">
          <input #lastName matInput placeholder="Last name">
        </mat-form-field>
        <mat-form-field style="width: 95%;">
          <input #email matInput placeholder="Email">
        </mat-form-field>
      </form>

      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip selected class="mat-warn" *ngIf="hasError">
          Some fields are invalid, check and change then before valid the form
        </mat-chip>
      </mat-chip-list>


    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="register()">Valid</button>
    </mat-card-actions>
  </mat-card>

</div>
