<div class="row">
    <div class="col-md-12 col-lg-6">
        <nb-card>
            <nb-card-header i18n>
                User information
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="profileForm" (ngSubmit)="saveUser()">
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3" i18n>Your Email</label>
                        <div class="col-sm-9">
                            <input placeholder="Enter email" id="email" class="form-control" name="email"
                                   formControlName="email" nbInput>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="firstName" class="col-form-label col-sm-3" i18n>First Name</label>
                        <div class="col-sm-9">
                            <input placeholder="Your First Name" id="firstName" class="form-control" name="firstName"
                                   formControlName="firstName" nbInput>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-form-label col-sm-3" i18n>Last Name</label>
                        <div class="col-sm-9">
                            <input placeholder="Your Last Name" id="lastName" class="form-control" name="lastName"
                                   formControlName="lastName" nbInput>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="birthDate" class="col-form-label col-sm-3" i18n>Birth Date</label>
                        <div class="col-sm-9">
                            <input id="birthDate" [nbDatepicker]="datepicker" placeholder="Give us your birthday"
                                   nbInput class="form-control" formControlName="birthDate">
                            <nb-datepicker #datepicker></nb-datepicker>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="emailing" class="col-form-label col-sm-3" i18n>Authorize receive email</label>
                        <div class="col-sm-9">
                            <nb-checkbox id="emailing" formControlName="emailing"></nb-checkbox>
                        </div>
                    </div>
                    <div class="form-group">
                        <button nbButton type="submit" i18n="@@Save">
                            <nb-icon icon="checkmark-outline"></nb-icon>
                            Save
                        </button>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-12 col-lg-6">
        <nb-card>
            <nb-card-header i18n>
                Company information
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="companyForm" (ngSubmit)="saveCompany()">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" i18n>Your Company Name</label>
                        <div class="col-sm-9">
                            <input placeholder="Enter company name" class="form-control" formControlName="name"
                                   nbInput>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" i18n>SIREN / SIRET</label>
                        <div class="col-sm-9">
                            <input placeholder="SIREN / SIRET" class="form-control"
                                   formControlName="numberId" nbInput>
                        </div>
                    </div>
                    <div class="row">
                        <p class="font-weight-bold col-12" i18n>Address :</p>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" i18n>Number and Street</label>
                        <div class="col-sm-9">
                            <input placeholder="Number and Street" class="form-control"
                                   formControlName="street" nbInput>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" i18n>Complementary information</label>
                        <div class="col-sm-9">
                            <input placeholder="Complementary information" nbInput class="form-control"
                                   formControlName="street2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" i18n>Zip code</label>
                        <div class="col-sm-9">
                            <input placeholder="Zip code" nbInput class="form-control" formControlName="zip">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" i18n>State</label>
                        <div class="col-sm-9">
                            <input placeholder="State" nbInput class="form-control" formControlName="state">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" i18n>City</label>
                        <div class="col-sm-9">
                            <input placeholder="City" nbInput class="form-control" formControlName="city">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" i18n>Country</label>
                        <div class="col-sm-9">
                            <input placeholder="Country" nbInput class="form-control" formControlName="country">
                        </div>
                    </div>
                    <div class="form-group">
                        <button nbButton type="submit" i18n="@@Save">
                            <nb-icon icon="checkmark-outline"></nb-icon>
                            Save
                        </button>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>
